@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  @apply bg-neutral-900 text-white;
  color-scheme: dark;
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600;
}

::-webkit-scrollbar-corner {
  @apply bg-neutral-700;
}

.react-aria-DropIndicator[data-drop-target] {
  @apply outline outline-1 outline-neutral-300;
}
